<div class="container user-list">
    <h1>Chat List</h1>
    <hr>

    {{#each receivedMessage}}
    <a href="/chat/{{id}}"><img src="{{firstSender.userImage.path}}" alt="{{firstSender.name}}">
        {{firstSender.name}}</a>
    <hr>
    {{/each}}

    {{#each sentMessage}}

    <a href="/chat/{{id}}"><img src="{{firstReceiver.userImage.path}}" alt="{{firstReceiver.name}}">
        {{firstReceiver.name}}</a>
    <hr>
    {{/each}}

</div>