<div class="container body-container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Edit your profile, {{name}}!</h1>
            <form method="POST" action="/users/edit/{{id}}" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value='{{email}}'>
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value='{{name}}'>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" name="description" value='{{description}}'>
                </div>
                <div class="form-group">
                    <label for="birthDay">Date of birth</label>
                    <input type="date" class="form-control" id="birthDay" name="birthDay" value="1980-01-01">
                </div>
                <div class="form-group">
                    <label for="favoriteCuisine1">Favorite Cuisine 1</label>
                    <select id="favoriteCuisines" name="favoriteCuisines" class="form-control">
                        <option value="" disabled selected>Please select an option</option>
                        <option value="French Cuisine">French Cuisine</option>
                        <option value="Chinese Cuisine">Chinese Cuisine</option>
                        <option value="Japanese Food">Japanese Food</option>
                        <option value="Italian Food">Italian Food</option>
                        <option value="Greek Food">Greek Food</option>
                        <option value="Spanish Food">Spanish Food</option>
                        <option value="Lebanese Cuisine">Lebanese Cuisine</option>
                        <option value="Moroccan Cuisine">Moroccan Cuisine</option>
                        <option value="Turkish Cuisine">Turkish Cuisine</option>
                        <option value="Thai Cuisine">Thai Cuisine</option>
                        <option value="Indian Cuisine">Indian Cuisine</option>
                        <option value="Mexican Cuisine">Mexican Cuisine</option>
                        <option value="Caribbean Cuisine">Caribbean Cuisine</option>
                        <option value="German Food">German Food</option>
                        <option value="Russian Cuisine">Russian Cuisine</option>
                        <option value="Hungarian Cuisine">Hungarian Cuisine</option>
                        <option value="American Food">American Food</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="favoriteCuisine2">Favorite Cuisine 2</label>
                    <select id="favoriteCuisines" name="favoriteCuisines" class="form-control">
                        <option value="" disabled selected>Please select an option</option>
                        <option value="French Cuisine">French Cuisine</option>
                        <option value="Chinese Cuisine">Chinese Cuisine</option>
                        <option value="Japanese Food">Japanese Food</option>
                        <option value="Italian Food">Italian Food</option>
                        <option value="Greek Food">Greek Food</option>
                        <option value="Spanish Food">Spanish Food</option>
                        <option value="Lebanese Cuisine">Lebanese Cuisine</option>
                        <option value="Moroccan Cuisine">Moroccan Cuisine</option>
                        <option value="Turkish Cuisine">Turkish Cuisine</option>
                        <option value="Thai Cuisine">Thai Cuisine</option>
                        <option value="Indian Cuisine">Indian Cuisine</option>
                        <option value="Mexican Cuisine">Mexican Cuisine</option>
                        <option value="Caribbean Cuisine">Caribbean Cuisine</option>
                        <option value="German Food">German Food</option>
                        <option value="Russian Cuisine">Russian Cuisine</option>
                        <option value="Hungarian Cuisine">Hungarian Cuisine</option>
                        <option value="American Food">American Food</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="favoriteCuisine3">Favorite Cuisine 3</label>
                    <select id="favoriteCuisines" name="favoriteCuisines" class="form-control">
                        <option value="" disabled selected>Please select an option</option>
                        <option value="French Cuisine">French Cuisine</option>
                        <option value="Chinese Cuisine">Chinese Cuisine</option>
                        <option value="Japanese Food">Japanese Food</option>
                        <option value="Italian Food">Italian Food</option>
                        <option value="Greek Food">Greek Food</option>
                        <option value="Spanish Food">Spanish Food</option>
                        <option value="Lebanese Cuisine">Lebanese Cuisine</option>
                        <option value="Moroccan Cuisine">Moroccan Cuisine</option>
                        <option value="Turkish Cuisine">Turkish Cuisine</option>
                        <option value="Thai Cuisine">Thai Cuisine</option>
                        <option value="Indian Cuisine">Indian Cuisine</option>
                        <option value="Mexican Cuisine">Mexican Cuisine</option>
                        <option value="Caribbean Cuisine">Caribbean Cuisine</option>
                        <option value="German Food">German Food</option>
                        <option value="Russian Cuisine">Russian Cuisine</option>
                        <option value="Hungarian Cuisine">Hungarian Cuisine</option>
                        <option value="American Food">American Food</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="userImage">Profile Image</label>
                    <input type="file" class="form-control-file" id="userImage" name="userImage">
                </div>
                <button type="submit" class="btn btn-red btn-block">Save profile</button>

                {{#if errorMessage}}
                <div id="error">
                    <p>{{errorMessage}}</p>
                </div>
                {{/if}}
            </form>
        </div>
    </div>
</div>