<div class="container restaurant-list">
    {{#each appointments}}
    <div class="row justify-content-center">
        {{#user}}
        <div class="col-md-2 text-center">
            <h2>
                <a href="/users/{{id}}">User: {{name}}</a>
            </h2>
            {{/user}}
        </div>
        {{#restaurants}}
        <div class="col-md-5">
            <h3>Name: {{name}}</h3>
            <p>Price: {{price}}</p>
            <p>{{address}}</p>
        </div>
        <div class="col-md-5">
            <img src="{{photoSearch}}" alt="restaurant-photo">
            {{/restaurants}}
            {{#if (lookup ../isUser @key)}}
            <a href="/places/appointment/delete/{{id}}">Delete appointment</a>
            {{/if}}
        </div>
    </div>
    {{/each}}
    <hr>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>