<div class="container">
    {{#each appointments}}
    <div class="row justify-content-center">
        <div class="col-md-4">
            {{#user}}
            <a href="/users/{{id}}">Name: {{name}}</a>
            {{/user}}
        </div>
        {{#restaurants}}
        <div class="col-md-4">
            <h3>Name: {{name}}</h3>
            <p>Price: {{price}}</p>
            <p>{{address}}</p>
        </div>
        <div class="col-md-4">
            <img src="{{photoSearch}}" alt="restaurant-photo">
            {{/restaurants}}
            <a href="/places/appointment/delete/{{id}}">Delete appointment</a>
        </div>
    </div>
    <hr>
    {{/each}}
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>