<div class="container body-container restaurant-list">
    {{#each restaurants}}
    <div class="row justify-content-center">
        <div class="col-md-5">
            <h3>{{name}}</h3>
            <p>Price: {{price}}</p>
            <p>Rating: {{rating}}</p>
            <p>User ratings: {{user_ratings}}</p>
            <p>{{address}}</p>
        </div>
        <div class="col-md-5">
            <img src="{{photoSearch}}" alt="restaurant-photo">
            <a href="/places/favorites/delete/{{id}}">Remove from favorites</a>
        </div>
        <div class="col-md-2">
            <a class="btn-red large-btn" href="/places/join/{{id}}">I'm in!</a>
        </div>
    </div>
    <hr>
    {{/each}}
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>